.search
{
  position: absolute;
  left: 2em;
}
table {
    width: 100%;
  }
  mat-icon {
    cursor: pointer;
  }

th.mat-sort-header-sorted {
    color: black;
  }

.full-width-table {
    padding-top: 3em;
    width: 100%;
    height: 100%;
    text-align: left;
  }
.search
  {
    position: absolute;
    left: 2em;
  }
  .addItemButton
  {
      position: absolute; 
      right: 2em;
      background-color: lightgrey;
      margin-top: 0.5em;
  }
.headFlo{
  text-align: center;
}