.search
{
  position: absolute;
  left: 2em;
  padding-top: 1em;
}
table {
    width: 100%;
  }
  mat-icon {
    cursor: pointer;
  }

th.mat-sort-header-sorted {
    color: black;
  }

.full-width-table {
  padding-top: 4em;
    width: 100%;
    height: 100%;
    text-align: left;
  }
.search
  {
    position: absolute;
    left: 2em;
  }
.headFlo{
  text-align: center;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: -4em;
  }
.button-group button {
  margin: 1em;
  background-color: lightblue;
}
