<!-- <button (click)="addItem()">Add Item</button> -->


<div class="mat-elevation-z8">
<div>
  <mat-form-field class="search">
    <mat-label>Suche:</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
  </mat-form-field>

<table mat-table class="full-width-table" mat-table [dataSource]="dataSource"  matSort>

  
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- name Column -->


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="Dienstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dienstname </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- phone Column -->
  <ng-container matColumnDef="Mitarbeiter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mitarbeiter </th>
    <td (click)="ButtonClickViewEmp(element.employee)" mat-cell *matCellDef="let element"> {{element.employee.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>


  <ng-container matColumnDef="Bearbeiten">
    <th mat-header-cell *matHeaderCellDef> Bearbeiten </th>
    <td mat-cell *matCellDef="let element">
        <mat-icon (click)="ButtonClickEditService(element)">edit</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="Loeschen">
    <th mat-header-cell *matHeaderCellDef> Löschen </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="ButtonClickDeleteService(element.id)">delete</mat-icon>
  </td>
  </ng-container>

  <ng-container matColumnDef="Anzeigen">
    <th mat-header-cell *matHeaderCellDef> Anzeigen </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="ButtonClickViewData(element)">description</mat-icon>
  </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>

<mat-paginator [pageSizeOptions]="[5,10,15,25]" ></mat-paginator>

<div class="button-group">
  <button (click)="ButtonClickAddNewService()" mat-raised-button class="button" >Service hinzufügen</button>  
  <button (click)="ButtonClickAddEmployee()" mat-raised-button class="button" >Mitarbeiter hinzufügen</button>  
</div>

<div>