<!-- <button (click)="addItem()">Add Item</button> -->


<div class="mat-elevation-z8">
   

  <mat-form-field class="search">
    <mat-label>Suche:</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
  </mat-form-field>

  <button (click)="ButtonClickAddNewService()" mat-raised-button class="addItemButton" >Hinzufügen</button>  
<table mat-table class="full-width-table" mat-table [dataSource]="dataSource"  matSort>

  
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- name Column -->


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="Dienstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dienstname </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- phone Column -->
  <ng-container matColumnDef="Mitarbeiter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mitarbeiter </th>
    <td mat-cell *matCellDef="let element"> {{element.employee.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>


  <ng-container matColumnDef="Bearbeiten">
    <th mat-header-cell *matHeaderCellDef> Bearbeiten </th>
    <td mat-cell *matCellDef="let element">
        <mat-icon (click)="ButtonClickEditService(element)">edit</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="Loeschen">
    <th mat-header-cell *matHeaderCellDef> Löschen </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="ButtonClickDeleteService(element.id)">delete</mat-icon>
  </td>
  </ng-container>

  <ng-container matColumnDef="Anzeigen">
    <th mat-header-cell *matHeaderCellDef> Anzeigen </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="ButtonClickViewData(element)">description</mat-icon>
  </td>
  </ng-container>

  <!-- website Column -->
  <!-- <ng-container matColumnDef="website">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Website </th>
    <td mat-cell *matCellDef="let element"> {{element.website}} </td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="editUser(element)">edit</mat-icon>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>

<!-- <mat-paginator #paginator
[length]="dataSource?.data.length"
[pageIndex]="0"
[pageSize]="1"
[pageSizeOptions]="[1,25, 50, 100, 250]">
</mat-paginator> -->
<mat-paginator [pageSizeOptions]="[1,2,10,20]" ></mat-paginator>
<!-- <div>
  <button 
  id="button_location" style="height: 50px">Map Map 
   </button>
</div> -->
